window {
    background-color: rgba(0, 0, 0, 0.85); /* black with 85% opacity */
    color: white;
}

#input {
    background-color: rgba(20, 20, 20, 0.85);
    color: white;
    border: none;
}

#entry {
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: rgba(255, 255, 255, 0.1); /* slight white tint for selection */
    color: #ffffff;
}

